html {
    display: flex;
    justify-content: center;
}

body {
    background-color: #E6F1EB;

    display: flex;
    flex-flow: column nowrap;

    position: relative;

    flex: 1 1 1440px;
    max-width: 1440px;
    max-height: 2150px;
    margin: 0px;
    /*margin-top: 40px;*/
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 145px;
    margin-right: 145px;
    margin-top: 40px;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.top {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /*flex: 1 1 1121px;
    max-width: 1121px;
    max-height: 500px;
    min-height: 440px;*/
    margin-left: 145px;
    margin-right: 145px;
}

.top__left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    flex: 1 1 576px;
    max-width: 576px;
    max-height: 450px;
    min-height: 350px;
}

.under_header {
    display: flex;
    justify-content: space-between;
    
    flex: 1 1 468px;
    max-width: 468px;
    max-height: 53px;
}

.under_header_title_1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.state_titles_point {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A1A7A4;

}

.state_titles_bot_point {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #63976C;

}

.norms {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    flex: 1 1 576px;
    max-width: 576px;
    max-height: 205px;
}

.norms__title {
    display: flex;
    justify-content: flex-start;
    
    flex: 1 1 576px;
    max-width: 576px;
    max-height: 26px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    
    color: #555555;
}

.norms_panel {
    display: flex;
    justify-content: space-between;
    
    flex: 1 1 576px;
    max-width: 576px;
    max-height: 128px;
    min-height: 120px
}

.norms_panel_into {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.norms_panel_into_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #555555;

}

.norms_panel_into_stat {
    display: flex;   
    min-width: 68px; 
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #498553;
}

.norms_panel_into__input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1 1 250px;
    max-width: 250px;
}

.norms__input {
    width: 100%;
    height: 33px;
    background-color: #ffffff;
    box-shadow: 0px 4px 19px -11px rgba(0, 0, 0, 0.25); 
    border-radius: 18px;
    border: none;
    outline: none;

    background: url(media/pen.svg) no-repeat scroll 12px;
    padding-left: 36px;
}

.norms__input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ACACAC;
}

.norms__button__div {
    display: flex;
    justify-content: flex-end;
    
    flex: 1 1 576px;
    max-width: 576px;
    max-height: 33px;
}

.norms__button {
    width: 98.82px;
    height: 33px;
    background: #498553;
    border-radius: 11px;
    border: none;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FCFDFC;
}

.top__right {
    display: flex;
    align-self: flex-end;

    flex: 1 1 374px;
    min-height: 549px;
    max-width: 374px;
    
    z-index: 1;
}

.bottom {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    
    flex: 1 1 1350px;
    max-width: 1350px;
    min-width: 320px;

    padding: 90px;
    margin-left: 45px;
    margin-right: 45px;
    background: #F6F6F6;
    border-radius: 61px 61px 0px 0px;

    z-index: 1;
}

.bottom__left {
    display: flex;
    flex-direction: column;

    flex: 1 1 540px;
    max-height: 365px;
    max-width: 540px;
    
}

.bottom__left__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #555555;
}

.bottom__left__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex: 1 1 540px;
    max-width: 540px;
    max-height: 33px;
    margin-top: 30px;
}

.bottom__left__radio__button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom__left__radio__button input[type=radio] {
	display: none;
}
.bottom__left__radio__button label {
	display: inline-block;
	cursor: pointer;
	padding: 8px;
	line-height: 34px;
	border-radius: 6px;
	user-select: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #767676;
}
/* Checked */
.bottom__left__radio__button input[type=radio]:checked + label {
	background: #498553;
    border-radius: 11px;
    padding: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FCFDFC;
}
/* Hover */
.bottom__left__radio__button label:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #767676;
}
/* Disabled */
.bottom__left__radio__button input[type=radio]:disabled + label {
	background: #efefef;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #767676;
}
.graf {
    display: flex;

    flex: 1 1 540px;
    max-width: 540px;
    max-height: 285px;

    margin-top: 27px;
}

.graf_img {
    width: 540px;
}

.bottom__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    flex: 1 1 540px;
    max-height: 365px;
    min-height: 200px;
    max-width: 540px;
}
.bottom__right__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #555555;
}

.bottom__right__radio__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    flex: 1 1 540px;
    max-width: 540px;
    max-height: 33px;
    margin-top: 30px;
}

.bottom__right__radio__button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom__right__radio__button input[type=radio] {
	display: none;
}
.bottom__right__radio__button label {
	display: inline-block;
	cursor: pointer;
	padding: 8px;
	line-height: 34px;
	border-radius: 6px;
	user-select: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #767676;
}
/* Checked */
.bottom__right__radio__button input[type=radio]:checked + label {
	background: #498553;
    border-radius: 11px;
    padding: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FCFDFC;
}
/* Hover */
.bottom__right__radio__button label:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #767676;
}
/* Disabled */
.bottom__right__radio__button input[type=radio]:disabled + label {
	background: #efefef;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #767676;
}



.themes__line__input__block {
    display: flex;
    justify-content: center;

    /*flex: 1 1 326px;
    max-width: 326px;
    max-height: 35px;*/

    margin-top: 27px;
}

.themes__line__input {
    width: 100%;
    height: 33px;
    border: none;
    outline: none;
    background: #FAFAFA;
    box-shadow: 0px 4px 19px -11px rgba(0, 0, 0, 0.25);
    border-radius: 18px;


    background: url(./media/pen.svg) no-repeat scroll 7px 7px;
    padding-left: 36px;
}

.themes__line__input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    line-height: 17px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #ACACAC;
}

.bottom__right__buttons {
    display: flex;
    justify-content: center;
}

.themes__button__one {
    height: 33px;
    width: 323px;
    background: #498553;
    border-radius: 11px;
    border: none;
    outline: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    margin-top: 27px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FCFDFC;
}

.themes__button__two {
    width: 323px;
    height: 33px;
    background: #FF9F9F;
    border-radius: 11px;
    border: none;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin-top: 27px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

.themes__button__tree {
    width: 323px;
    height: 33px;
    background: #FF9F9F;
    border-radius: 11px;
    border: none;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin-top: 27px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}

@media (width <= 1050px){    
    .bottom {
        flex-flow: row wrap;
        justify-content: center;
       
    }

    .top {
        flex-flow: row wrap;
        justify-content: center;
    }
    

    .bottom__right {
        margin-top: 20px;
    }

    #rect_big {
        display: none;
    }

    @media (width <= 750px) {
      
    
    }
}

#media {
    position: absolute;
    display: flex;

    height: 647px;
    width: 100%;

    margin-right: 45px;
    margin-left: 45px;

    z-index: -2;
}

#rect_small {
    position: absolute;

    width: 97px;
    height: 97px;
    left: 5.62%;
    right: 87.64%;
    top: 50.05%;
    bottom: 59.47%;

    z-index: -2;
}

#rect_regular {
    position: absolute;

    width: 291px;
    height: 177px;
    left: 35%;
    top: -5%;
    bottom: 82.71%;

    z-index: -2;
}

#rect_big {
    position: absolute;

    width: 367px;
    height: 223px;
    left: 55%;
    right: 17.5%;
    top: 70%;
    bottom: 0%;

    z-index: -2;
}