@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/share?selection.family=Montserrat:wght@700);
}

@font-face {
    font-family: Inter;
    src: url(https://fonts.google.com/share?selection.family=Inter:wght@500);
}

.top-panel {
    width: 1288px;
    position: relative;
    display: flex;
    margin-bottom: 110px;
}

.top-panel .slider {
    align-items: flex-start;
    margin: auto;
}



.top-panel .slider .myRange {
    appearance: none;
    border: none;
    border-radius: 21px;
    width: 300px;
    height: 26px;
    outline: none;
    background-color: #D7EADD;
}

.top-panel .slider .myRange::-moz-range-thumb {
    background-color: transparent;
    border: none;
}

.top-panel .slider .myRange::-moz-range-progress {
    background: linear-gradient(to right, #397142, #4EB05F);
    height: 26px;
    border-radius: 21px;
}

.top-panel .search form input .s {
    margin-left: 0px;
}

.top-panel .search {
    
    background-color: #fff;
    height: 55px;
    width: 440px;
    border: none;
    border-radius: 21px;
    filter: drop-shadow(2px 4px 13px rgba(138, 138, 138, 0.25));
    display: flex;
    padding: 20px;
    margin-left: 172px;
}

.top-panel .search img {
    height: 16px;
    width: 16px;
    margin-right: 11px;
}

.top-panel .search form {
    width: 100%;
}

.top-panel .search form input {
    border: none;
    font-size: 14;
    font-family: Inter;
    width: 100%;
}

.top-panel .logo {
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}